<!DOCTYPE html>
  <html>
   <head>
   <link rel="stylesheet" href="/public/css/portal.css">
   </head>
   <header id="header">
  
    <h1 id="page-title" class="">Home</h1>
  
  </header>
</header>


<div class="container" id="miiverse-will-reborn">
  <div class="main-header content">
    <h1>Hey! Check below!</h1>
    <img src="https://cdn.discordapp.com/attachments/637237796129603594/829501638150586408/EvilUniformJanenschia-size_restricted.gif" class="header-image">
  </div>
  <div class="guide-message content">
    <span class="icon-container official-user"><img src="https://mii-secure.cdn.nintendo.net/2odnzvk4w770i_like_face.png" class="icon test-official-user-img"></span>
    <p class="message-text">Welcome to my website! You can find where to contact me there, download things I created and more. That site is open-source which means you can use it too if you change the name.</p>
    </div>
  </div>
   <body data-is-first-friend="1" data-hashed-pid="64975bc06d3c1b11bb1cd6f1e07ae78e" data-user-id="OLV_USER_ID" data-age="32" data-gender="MALE" data-game-skill="0" data-follow-done="0" data-post-done="1" data-lang="en" data-country="us" data-user-region="USA" data-profile-url="/users/OLV_USER_ID">
    <menu id="global-menu" class="">
        <li id="global-menu-feed"><a href="/downloads.html" data-pjax="#body" data-sound="SE_WAVE_MENU">Downloads</a></li>
        <li id="global-menu-community" class="selected"><a href="/" data-pjax="#body" data-sound="SE_WAVE_MENU">Home</a></li>
        <li id="global-menu-message"><a href="/contact.html" data-pjax="#body" data-sound="SE_WAVE_MENU">Contact Me<span class="badge" style="display: none;">0</span></a></li>
